.bg-img {
   background-image: url(../images/6.jpg);
  background-size:cover;
    position:relative;
    border-radius: 8px;
}

form.wpforms-form {
    padding: 20px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #b95d52;
    border-style: double;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbarScroll.navbarDark {
    background-color: black;
}
#grad {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
